/* Background for overall page */
.background {
  background-color:	#FFFAFA;
}

/* Top navigation bar */
.topnav {
  background-color: #FFFAFA;
  overflow: hidden;
  font-family: Georgia;
}

/* Links within navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; 
}

/* Hovering over links */
.topnav a:hover {
  background-color: #FFFAFA;
  color: #c71585;
}

/* Style text on home page */
.homepage {
  font-family: Georgia;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Highlight some words pink class */ 
.highlight_pink {
  color: #c71585;
}

/* Style text on pages excludes home page and blog page */
.regpage {
  font-family: Georgia;
  text-align: center;
}

/* Styling H2 elements on website pages (other than homepage) */
.h1 {
  font-family: Georiga; 
  text-align: center;
  color: #c71585;
}

/* Styling for pages with minimal text. Make text bigger (contact me) */ 
.smallpage {
  font-family: Georgia; 
  font-size: 110%;
  margin-left: auto;
  margin-right: auto;
}

/* Styling image on home screen */
.homepage_image {
  overflow: hidden;
  max-height: auto;
  display: flex;
  justify-content: center;
  opacity: 90%;
}

/* Center blocks of text on pages with large chunks of information (e.g. bio page) */
.textbox_sizing {
  font-family: Georgia; 
  margin-left: 350px;
  margin-right: 350px;   
  text-align: center;
  font-size: 110%;
}

/* Configuration of text for blog posts */
.blog_sizing {
  font-family: Georgia; 
  margin-left: 350px;
  margin-right: 350px;   
  text-align: left;
  font-size: 110%;
}

/* Remove underline from hyperlinks on website */
.blog-links {
  text-decoration: none;
  color: black;
}

/* Placement of social media icons */
.icons {
  display: flex;
  justify-content: center;
}

/* Style social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center:
  text-decoration: none;
  color: black;
  text-decoration: none;
}

/* Hover over effect over social media links button */
.fa:hover {
  color: #c71585;
}

/* Flex set up for blog page */
.flex-container {
  display: flex;
  flex-direction: row; 
  justify-content: center; space-between;
  background-color: #FFFAFA;
}

/* Configuration of items within flex-container. Create space between each blog post */
.flex-item {
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  width: calc(1/3*100% - (1 - 1/3) * 10px);
}

/* Flex set up for projects page (i.e. blog page) */
.flex-container-projects {
  display: flex;
  flex-direction: column; 
  justify-content: left;
  background-color: #FFFAFA;
}

/* Configuration of items within flex-container. Create space between each project */
.flex-item-projects {
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  width: calc(1/3*100% - (1 - 1/3) * 10px);
}