/* Background for overall page */
.background {
  background-color:	#FFFAFA;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #FFFAFA;
  font-family: Georgia;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Georgia;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  }

/* Add pink background color to navbar links on hover */
.navbar a:hover, dropdown:hover .dtopbtn {
  color: #000000;
  background-color: #FFFFFF;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Georiga;
  font-weight: 300;
  color: black;
  text-align: center;
  position: absolute;
  background-color: #FFFAFA;
  min-width: 160px; 
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add pink background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #FFFAFA;
  color: orange
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style text on home page */
.homepage {
  font-family: Georgia;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vmin;
}

/* Highlight some words pink class */ 
.highlight_pink {
  color: orange;
}

/* Style text on pages excludes home page and blog page */
.regpage {
  font-family: Georgia;
  text-align: center;
  font-size: 2vmin;
}

/* Styling H2 elements on website pages (other than homepage) */
.h1 {
  font-family: Georiga; 
  text-align: center;
  font-size: 2vmin;
  color: orange;
}

/* Styling for pages with minimal text. Make text bigger (contact me) */ 
.smallpage {
  font-family: Georgia; 
  font-size: 2vmin;
  margin-left: auto;
  margin-right: auto;
}

/* Styling image on home screen */
.homepage_image {
  overflow: hidden;
  max-height: auto;
  display: flex;
  justify-content: center;
  opacity: 90%;
}

/* Center blocks of text on pages with large chunks of information (e.g. bio page) */
.textbox_sizing {
  font-family: Georgia; 
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  font-size: 2vmin;
}

/* Configuration of text for blog posts */
.blog_sizing {
  font-family: Georgia;
  text-align: left;
  font-size: 2vmin;
}

/* Remove underline from hyperlinks on website */
.blog-links {
  text-decoration: none;
  color: black;
}

/* Placement of social media icons */
.icons {
  display: flex;
  justify-content: center;
}

/* Style social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center:
  text-decoration: none;
  color: black;
  text-decoration: none;
}

/* Hover over effect over social media links button */
.fa:hover {
  color: orange;
}

/* Flex set up for blog page */
.flex-container {
  display: flex;
  flex-direction: row; 
  justify-content: center; space-between;
  background-color: #FFFAFA;
}

/* Configuration of items within flex-container. Create space between each blog post */
.flex-item {
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  width: calc(1/3*100% - (1 - 1/3) * 10px);
}

/* Flex set up for projects page (i.e. blog page) */
.flex-container-projects {
  display: flex;
  flex-direction: column; 
  justify-content: left;
  background-color: #FFFAFA;
}

/* Configuration of items within flex-container. Create space between each project */
.flex-item-projects {
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  width: calc(1/3*100% - (1 - 1/3) * 10px);
}